# Pastas de dependências
node_modules/
vendor/

# Arquivos de Sistema e Configuração Local
.env
config.local.php
.DS_Store
Thumbs.db

# Pastas de Upload (opcional, se quiser manter os anexos apenas no servidor)
# uploads/chat_files/*
# uploads/avatars/*

# Logs e Cache
*.log
.cache/
.temp/
