# Pastas de dependências
node_modules/
# vendor/ (comentado para versionar dependências críticas como o PhpSpreadsheet)

# Arquivos de Sistema e Configuração Local
.env
config.local.php
.DS_Store
Thumbs.db

# Pastas de Upload (Ignorar para não apagar arquivos do servidor ao atualizar o sistema)
uploads/
uploads/*

# Logs e Cache
*.log
.cache/
.temp/
